name: .NET Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: 
    - main
    - v*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Full clone so Nerdbank.GitVersioning can count height
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: |
          6.0.x
        global-json-file: 'global.json' # in addition to the 6.0 we need for tests, install "latest"
    - name: Build
      run: dotnet build --consoleloggerparameters:NoSummary --warnAsError
    - name: Test
      run: dotnet test --no-build --logger GitHubActions
